<%- include("partials/header.ejs") %>
<h1>Contact</h1>
<p><%= contact %></p><br>
<h2>Customer Support</h2><br>
<p>For assistance with technical issues, account inquiries, or general questions about Productivity Hub, our dedicated customer support team is available to help. You can reach us via email at baruahdeepraj663@gmail.com or through our live chat feature on the website/app during business hours.</p>
<h2>Feedback and Suggestions</h2>
<p>We value your feedback and are constantly striving to improve Productivity Hub based on your suggestions. If you have ideas for new features, improvements, or any other feedback, we’d love to hear from you! Drop us a line at baruahdeepraj663@gmail.com and let us know how we can make your experience even better.</p>
<h2>Visit Us</h2>
<p>If you prefer face-to-face interaction, feel free to drop by our office during business hours. Our team would be delighted to meet you in person and discuss how Productivity Hub can support your productivity goals.</p>
<%- include("partials/footer.ejs") %>